#clock {
    border-radius: 50%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 300px;
    height: 300px;
    background: rgb(192, 178, 151);
}
.clockCenter {
    margin: 0;
    padding: 0;
    border: none;
    width: 0px;
    height: 0px;
    background: black;
    z-index: 2;
}
.lin {
    border-radius: 50%;
    margin: 0;
    padding: 0;
    border: none;
    background: black;
}
.hourLin {
    width: 5px;
    height: 50px;
    transform-origin: 50% 100%;
    position: absolute;
}
.minuteLin {
    width: 3px;
    height: 105px;
    transform-origin: 50% 100%;
    position: absolute;
}
.secondLin {
    background-color: red;
    width: 1px;
    height: 130px;
    transform-origin: 50% 100%;
    position: absolute;
}
.secondTransform {
    transform: rotate()
}
.num {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    color: black;
    border-radius: 50%;
    background: rgb(100, 225, 80);
    z-index: 1;
}
#di {
    position: absolute;
    left: 105px;
    top: 200px;
    margin: 0;
    padding: 0;
    border: none;
    width: 90px;
    height: 20px;
    background: gray;
}